#sidebar{
    background: #F4F5FA;
    grid-area: sidebar;
    /* overflow-y: auto;
    left: 0px;
    top: 0px;
    -webkit-transition: all 0.5s;
    transition: all 0.s; */
}
.sidebar__menu{
    padding: 30px 0px;
    margin-top: 100px;
}
.sidebar__link{
    display: flex;
    align-items: center;
    color: #2979F2;
    padding: 8px 20px;
    
}
.sidebar__link > a {
    margin: 12px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
    color: #a5aaad;
    font-weight: 700;
} 
.sidebar__menu_left {
    position: bottom;
}
/* .sidebar__link{
    color: #f3f4f5f6; */
    /* padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px; */
/* } */
/* .sidebar__link > a {
    text-decoration: none;
    color: #a5aaad;
    font-weight: 700;
} */
/* .sidebar__link > i {
    margin-right: 10px;
    font-size: 10px;
} */